<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <div class = "input_form">
        <input type='text' name='idea[title]'/ class = "title"><br/>
        <textarea name='idea[description]' class = "description"></textarea><br/>
        <center><input type='submit' id = "button"/></center>
      </div>
      
    </form>

    <h3>Existing Ideas</h3>

    <ul>
      <% ideas.each do |idea| %>
      <li>
        <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
          <input id = "like_button" type='submit' value="Like"/>
        </form>
        <span id="title"><%= idea.title %><br/></span>
        <span id="desc"><%= idea.description %></span>
        <a href="/<%= idea.id %>/edit">Edit</a>
        <form action='/<%= idea.id %>' method='POST'>
          <input type="hidden" name="_method" value="DELETE">
          <input id = "delete"  type='submit' value="delete"/>
          <hr>
        </form>
      </li>
      <% end %>
    </ul>
    		
    
  </body>
</html>